Source: micro-xrce-dds-agent
Section: unknown
Priority: optional
Maintainer: Daniele Pettenuzzo <daniele@auterion.com>
Build-Depends-Indep:
 debhelper (>= 11),
 g++-aarch64-linux-gnu [arm64],
 gcc-aarch64-linux-gnu [arm64],
Build-Depends:
 libspdlog-dev,
 libasio-dev,
 libtinyxml2-6a,
 libtinyxml2-dev,
 dds-dependencies,
Standards-Version: 4.1.3
Homepage: https://github.com/Auterion/Micro-XRCE-DDS-Agent.git

Package: micro-xrce-dds-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: micro-xrce-dds-agent
